<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>TodoProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.company.servlet.user.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisterServlet</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.company.servlet.user.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTaskServlet</display-name>
    <servlet-name>AddTaskServlet</servlet-name>
    <servlet-class>com.company.servlet.task.AddTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTaskServlet</servlet-name>
    <url-pattern>/AddTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTaskServlet</display-name>
    <servlet-name>GetTaskServlet</servlet-name>
    <servlet-class>com.company.servlet.task.GetTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTaskServlet</servlet-name>
    <url-pattern>/GetTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTaskServlet</display-name>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <servlet-class>com.company.servlet.task.DeleteTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <url-pattern>/DeleteTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompleteTaskServlet</display-name>
    <servlet-name>CompleteTaskServlet</servlet-name>
    <servlet-class>com.company.servlet.task.CompleteTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteTaskServlet</servlet-name>
    <url-pattern>/CompleteTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTaskServlet</display-name>
    <servlet-name>UpdateTaskServlet</servlet-name>
    <servlet-class>com.company.servlet.task.UpdateTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTaskServlet</servlet-name>
    <url-pattern>/UpdateTaskServlet</url-pattern>
  </servlet-mapping>
</web-app>